@charset "UTF-8";
@font-face {
  font-family: notoS;
  font-weight: 100;
  src: url("../font/NotoSansKR-Thin.eot");
  src: local("※"), url("../font/NotoSansKR-Thin.woff2") format("woff2"), url("../font/NotoSansKR-Thin.woff") format("woff"), url("../font/NotoSansKR-Thin.otf") format("opentype"); }
@font-face {
  font-family: notoS;
  font-weight: 200;
  src: url("../font/NotoSansKR-Light.eot");
  src: local("※"), url("../font/NotoSansKR-Light.woff2") format("woff2"), url("../font/NotoSansKR-Light.woff") format("woff"), url("../font/NotoSansKR-Light.otf") format("opentype"); }
@font-face {
  font-family: notoS;
  font-weight: 400;
  src: url("../font/NotoSansKR-Regular.eot");
  src: local("※"), url("../font/NotoSansKR-Regular.woff2") format("woff2"), url("../font/NotoSansKR-Regular.woff") format("woff"), url("../font/NotoSansKR-Regular.otf") format("opentype"); }
@font-face {
  font-family: notoS;
  font-weight: 500;
  src: url("../font/NotoSansKR-Medium.eot");
  src: local("※"), url("../font/NotoSansKR-Medium.woff2") format("woff2"), url("../font/NotoSansKR-Medium.woff") format("woff"), url("../font/NotoSansKR-Medium.otf") format("opentype"); }
@font-face {
  font-family: notoS;
  font-weight: 700;
  src: url("../font/NotoSansKR-Bold.eot");
  src: local("※"), url("../font/NotoSansKR-Bold.woff2") format("woff2"), url("../font/NotoSansKR-Bold.woff") format("woff"), url("../font/NotoSansKR-Bold.otf") format("opentype"); }
@font-face {
  font-family: kopubB;
  font-weight: 200;
  src: url("../font/KoPubWorldBatangProLight.eot");
  src: local("※"), url("../font/KoPubWorldBatangProLight.woff") format("woff"), url("../font/KoPubWorldBatangProLight.otf") format("opentype"); }
@font-face {
  font-family: kopubB;
  font-weight: 400;
  src: url("../font/KoPubWorldBatangProMedium.eot");
  src: local("※"), url("../font/KoPubWorldBatangProMedium.woff2") format("woff2"), url("../font/KoPubWorldBatangProMedium.woff") format("woff"), url("../font/KoPubWorldBatangProMedium.otf") format("opentype"); }
@font-face {
  font-family: kopubB;
  font-weight: 700;
  src: url("../font/KoPubWorldBatangProBold.eot");
  src: local("※"), url("../font/KoPubWorldBatangProBold.woff2") format("woff2"), url("../font/KoPubWorldBatangProBold.woff") format("woff"), url("../font/KoPubWorldBatangProBold.otf") format("opentype"); }
@font-face {
  font-family: montS;
  font-weight: 100;
  src: url("../font/Montserrat-Thin.eot");
  src: local("※"), url("../font/Montserrat-Thin.woff2") format("woff2"), url("../font/Montserrat-Thin.woff") format("woff"), url("../font/Montserrat-Thin.otf") format("opentype"); }
@font-face {
  font-family: montS;
  font-weight: 400;
  src: url("../font/Montserrat-Regular.eot");
  src: local("※"), url("../font/Montserrat-Regular.woff2") format("woff2"), url("../font/Montserrat-Regular.woff") format("woff"), url("../font/Montserrat-Regular.otf") format("opentype"); }
@font-face {
  font-family: montS;
  font-weight: 500;
  src: url("../font/Montserrat-Medium.eot");
  src: local("※"), url("../font/Montserrat-Medium.woff2") format("woff2"), url("../font/Montserrat-Medium.woff") format("woff"), url("../font/Montserrat-Medium.otf") format("opentype"); }
/* tag reset */
body, h1, h2, h3, h4, h5, h6, ul, p, video {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

img {
  vertical-align: top; }

a:link, a:hover, a:visited, a:active {
  text-decoration: none;
  color: inherit; }

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit; }

nav, section, article {
  display: block; }

/* common class */
.p_r {
  position: relative; }

.p_a {
  position: absolute; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

body {
  font-family: notoS;
  font-weight: 400;
  font-size: 18px;
  color: #555555;
  line-height: 1.7;
  letter-spacing: -0.04em; }

/* common */
#logo {
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 1000; }
  #logo img {
    width: 100px; }

#indicator {
  position: fixed;
  top: 50%;
  right: 125px;
  margin-top: -168px;
  width: 200px;
  height: 336px;
  font-family: montS;
  font-size: 35px;
  font-weight: 100;
  z-index: 1000; }
  #indicator ul {
    position: absolute;
    top: 0;
    right: 0; }
  #indicator ul li {
    position: relative;
    margin: 10px 0;
    color: #fff; }
    #indicator ul li:first-child {
      margin-top: 0; }
    #indicator ul li:after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 0;
      height: 1px;
      background: transparent; }
    #indicator ul li a {
      width: 140px;
      display: flex;
      justify-content: space-between; }
  #indicator ul li.on:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff; }

/* index */
#container section {
  height: 100vh;
  min-height: 500px; }
  #container section .head {
    position: relative;
    text-align: right;
    z-index: 1; }
    #container section .head img, #container section .head h2 {
      position: absolute; }
    #container section .head img {
      top: 38px;
      right: 118px;
      z-index: 100; }
    #container section .head.cnt2_h img, #container section .head.cnt3_h img {
      height: 200px; }
    #container section .head.cnt4_h img, #container section .head.cnt5_h img {
      height: 100px; }
    #container section .head h2 {
      display: block;
      top: 45px;
      right: 120px;
      opacity: 30%;
      font-family: montS;
      font-weight: 700;
      font-size: 100px;
      line-height: 1em; }
    #container section .head.cnt4_h h2, #container section .head.cnt5_h h2 {
      mix-blend-mode: multiply;
      color: #7c606a; }
  #container section#cnt4, #container section#cnt5 {
    font-family: kopubB;
    font-weight: 200;
    color: #fff; }
  #container section video {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3); }

#container #cnt1 {
  color: #fff;
  background: url("../image/index/bg_intro.jpg") fixed top center;
  overflow: hidden; }
  #container #cnt1 .cnt1_txt {
    position: relative;
    width: 1398px;
    margin: 33vh auto 0;
    z-index: 50; }
    #container #cnt1 .cnt1_txt p:first-child, #container #cnt1 .cnt1_txt strong {
      font-family: montS;
      line-height: 1em; }
    #container #cnt1 .cnt1_txt p:first-child {
      font-size: 120px;
      font-weight: 100; }
    #container #cnt1 .cnt1_txt strong {
      font-size: 150px; }
    #container #cnt1 .cnt1_txt p:last-child {
      font-family: kopubB;
      font-weight: 200;
      font-size: 25px;
      margin-top: 2em; }
    #container #cnt1 .cnt1_txt:before {
      content: "";
      position: absolute;
      top: 0;
      left: -50px;
      width: 3px;
      height: 100%;
      background: #ffffff; }
  #container #cnt1 .svgbox {
    position: relative;
    top: -50vh;
    left: 40vw;
    width: 500px;
    height: 300px; }
    #container #cnt1 .svgbox .starpath {
      fill: #fff;
      stroke: none; }
    #container #cnt1 .svgbox .hiddenbox {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 130%;
      height: 100%;
      background: url("../image/index/bg_intro.jpg") fixed top center; }
  #container #cnt1 .mouse {
    position: absolute;
    bottom: -25px;
    right: 170px;
    text-align: center;
    line-height: 1em; }
    #container #cnt1 .mouse p {
      font-family: kopubB;
      font-weight: 200; }
    #container #cnt1 .mouse img {
      margin-top: -25px;
      width: 54px;
      height: 161px; }
  #container #cnt1 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
    opacity: 50%;
    z-index: 900;
    overflow: hidden; }
    #container #cnt1 .overlay img {
      position: absolute; }
    #container #cnt1 .overlay .parti {
      width: 2000px;
      top: -5vh;
      left: -8vw;
      opacity: 0.5; }
    #container #cnt1 .overlay .dia1 {
      width: 720px;
      top: -10vh;
      left: -10vw; }
    #container #cnt1 .overlay .dia2 {
      width: 365px;
      top: 68vh;
      left: 50vw; }
    #container #cnt1 .overlay .rou {
      width: 680px;
      top: 33vh;
      left: 70vw; }
    #container #cnt1 .overlay .squa {
      width: 200px;
      top: 78vh;
      left: 45vw; }

#container #cnt2 {
  position: relative;
  overflow: hidden;
  color: #fff;
  background: #3954a0; }
  #container #cnt2 .cnt2_h h2 {
    background: -webkit-linear-gradient(-45deg, #ff8b9e 0%, #6fcaff 100%);
    background: -moz-linear-gradient(-45deg, #ff8b9e 0%, #6fcaff 100%);
    background: linear-gradient(135deg, #ff8b9e 0%, #6fcaff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
  #container #cnt2 .cnt2_txt, #container #cnt2 .cnt2_graph {
    margin-left: 8vw; }
  #container #cnt2 .cnt2_txt {
    position: relative;
    z-index: 150;
    margin-top: 17.5vh; }
    #container #cnt2 .cnt2_txt > div {
      line-height: 1.2em;
      font-weight: 100; }
      #container #cnt2 .cnt2_txt > div strong {
        color: #ffbece;
        font-weight: 500; }
    #container #cnt2 .cnt2_txt div:nth-child(1) {
      font-size: 80px; }
    #container #cnt2 .cnt2_txt div:nth-child(2) {
      font-size: 48px; }
    #container #cnt2 .cnt2_txt > p {
      font-family: kopubB;
      font-size: 22px;
      font-weight: 200;
      line-height: 1.5em;
      margin: 25px 0; }
  #container #cnt2 .cnt2_graph {
    position: relative;
    width: 620px; }
    #container #cnt2 .cnt2_graph ul {
      display: inline-block;
      width: 620px; }
      #container #cnt2 .cnt2_graph ul.coding {
        margin-top: 25px; }
    #container #cnt2 .cnt2_graph ul li {
      float: left;
      text-align: center;
      font-family: montS;
      margin-right: 45px; }
      #container #cnt2 .cnt2_graph ul li span {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        display: block;
        border: 8px solid #fff;
        width: 110px;
        height: 110px; }
      #container #cnt2 .cnt2_graph ul li p {
        font-weight: 400;
        margin-top: 8px; }
      #container #cnt2 .cnt2_graph ul li strong {
        font-weight: 500; }
    #container #cnt2 .cnt2_graph .adobe li span {
      font-size: 50px;
      line-height: 1.9em; }
    #container #cnt2 .cnt2_graph .coding li:nth-child(1) span {
      background: url("../image/icon/html.svg") no-repeat center 65%;
      background-size: 70px; }
    #container #cnt2 .cnt2_graph .coding li:nth-child(2) span {
      background: url("../image/icon/css.svg") no-repeat center 65%;
      background-size: 70px; }
    #container #cnt2 .cnt2_graph .coding li:nth-child(3) span {
      background: url("../image/icon/sass.svg") no-repeat center center;
      background-size: 70px; }
    #container #cnt2 .cnt2_graph .coding li:nth-child(4) span {
      background: url("../image/icon/jquery.svg") no-repeat center center;
      background-size: 60px; }
  #container #cnt2 > img {
    position: absolute;
    width: 850px;
    bottom: 0;
    right: 12.5vw;
    z-index: 100; }
  #container #cnt2:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 38vw;
    height: 100vh;
    background: #f7f7f7;
    z-index: 0; }

#container #cnt3 {
  background: #f7f7f7; }
  #container #cnt3 .cnt3_h h2 {
    background: -webkit-linear-gradient(-45deg, #ffa545 0%, #6fcaff 100%);
    background: -moz-linear-gradient(-45deg, #ffa545 0%, #6fcaff 100%);
    background: linear-gradient(135deg, #ffa545 0%, #6fcaff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
  #container #cnt3 ul {
    width: 1046px;
    padding: 25vh 0 0 13vw; }
    #container #cnt3 ul li {
      float: left;
      height: 237px; }
      #container #cnt3 ul li:nth-child(3) {
        margin-top: 10vh; }
      #container #cnt3 ul li:after {
        content: "";
        display: block;
        clear: both; }
      #container #cnt3 ul li img, #container #cnt3 ul li div {
        float: left; }
      #container #cnt3 ul li:nth-child(2) img {
        margin-left: 80px; }
  #container #cnt3 li .cnt3_txt {
    position: relative;
    padding-left: 43px; }
    #container #cnt3 li .cnt3_txt h3 {
      font-size: 35px;
      font-weight: 700; }
    #container #cnt3 li .cnt3_txt p {
      font-family: kopubB;
      font-weight: 200;
      margin-bottom: 0.3em; }
    #container #cnt3 li .cnt3_txt a {
      font-family: montS;
      font-weight: 700;
      color: #1a68e5; }
      #container #cnt3 li .cnt3_txt a:nth-child(3) {
        margin-right: 2.2em; }
    #container #cnt3 li .cnt3_txt:after {
      content: "";
      position: absolute;
      bottom: 6px;
      width: 2px;
      height: 1.2rem;
      background: #aaa; }
  #container #cnt3 ul li:nth-child(1) .cnt3_txt, #container #cnt3 ul li:nth-child(2) .cnt3_txt {
    top: 25px; }
    #container #cnt3 ul li:nth-child(1) .cnt3_txt:after, #container #cnt3 ul li:nth-child(2) .cnt3_txt:after {
      content: "";
      left: 5.6em; }
  #container #cnt3 ul li:nth-child(3) .cnt3_txt {
    top: 36px;
    padding-left: 66px; }
    #container #cnt3 ul li:nth-child(3) .cnt3_txt:after {
      left: 7.2em; }
  #container #cnt3 ul li:nth-child(4) p {
    font-weight: 200;
    margin: 18.5vh 0 0 150px; }

#container #cnt4 {
  background: url("../image/index/bg_project1.jpg") fixed center center; }
  #container #cnt4 .cnt4_vd {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 23vh; }
    #container #cnt4 .cnt4_vd video {
      display: block;
      width: 734px;
      height: 413px;
      margin: 0 auto; }
  #container #cnt4 .cnt4_txt {
    padding-top: 25px;
    text-align: center; }
    #container #cnt4 .cnt4_txt strong {
      font-size: 22px; }
    #container #cnt4 .cnt4_txt p {
      margin-bottom: 25px; }
    #container #cnt4 .cnt4_txt a {
      -webkit-border-radius: 24.1px;
      -moz-border-radius: 24.1px;
      border-radius: 24.1px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      display: block;
      width: 123px;
      height: 50px;
      line-height: 44px;
      font-family: montS;
      font-size: 22px;
      font-weight: 400;
      border: 3px solid #fff;
      margin: 0 auto; }
      #container #cnt4 .cnt4_txt a:hover {
        color: #eb651e;
        font-weight: 700;
        background: #fff; }

#container #cnt5 {
  position: relative;
  background: url("../image/index/bg_project2.jpg") fixed center bottom; }
  #container #cnt5 .cnt5_wrap {
    position: absolute;
    display: flex;
    top: calc(50% - 272.5px);
    left: calc(50% - 435px); }
  #container #cnt5 .cnt5_vd, #container #cnt5 .cnt5_txt {
    float: left; }
  #container #cnt5 .cnt5_vd {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    #container #cnt5 .cnt5_vd video {
      display: block;
      width: 299px;
      height: 545px; }
  #container #cnt5 .cnt5_txt {
    margin: auto 0 auto 75px; }
    #container #cnt5 .cnt5_txt strong {
      font-size: 22px; }
    #container #cnt5 .cnt5_txt p {
      margin-bottom: 25px;
      width: 375px;
      word-break: keep-all; }
    #container #cnt5 .cnt5_txt a {
      -webkit-border-radius: 24.1px;
      -moz-border-radius: 24.1px;
      border-radius: 24.1px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      display: block;
      width: 123px;
      height: 50px;
      line-height: 44px;
      font-family: montS;
      font-size: 22px;
      font-weight: 400;
      text-align: center;
      border: 3px solid #fff; }
      #container #cnt5 .cnt5_txt a:hover {
        color: #ca1a37;
        font-weight: 700;
        background: #fff; }

/* sub common */
.info_head {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 350px;
  padding-top: 2.8vw;
  padding-bottom: 2.8vw;
  margin-bottom: 100px; }
  .info_head ul li h2, .info_head ul li a:after {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
  .info_head ul li h2:hover {
    color: #ffdeaa; }
  .info_head .inhead1, .info_head .inhead2 {
    width: 60%;
    margin: 0 auto; }
  .info_head .inhead1 h2 {
    font-size: 50px;
    font-weight: 700; }
  .info_head .inhead1 p {
    width: 66%;
    margin-left: 30%;
    margin-top: -70px; }
  .info_head .inhead2 li {
    margin-top: 2.5vw; }
    .info_head .inhead2 li:first-child {
      margin-left: 0 !important; }
  .info_head .inhead2 li p, .info_head .inhead2 li a {
    font-size: 15px;
    font-weight: 300;
    display: block; }
  .info_head .inhead2 li a {
    position: relative; }
  .info_head .inhead2 li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: #fff; }
  .info_head .inhead2 li a:hover:after {
    width: 100%; }

.info_head ul li, .info_body ul li {
  float: left; }

.info_body {
  width: 100%; }
  .info_body article {
    margin: 50px auto; }
  .info_body article h3, .info_body article > p {
    text-align: center; }
  .info_body article h3 {
    font-family: montS;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 50px; }
  .info_body article > p {
    margin-top: 50px; }
  .info_body .view li img {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3); }
  .info_body .color {
    height: 500px;
    text-align: center; }
    .info_body .color ul {
      width: 750px;
      margin: 0 auto; }
    .info_body .color ul li {
      margin-left: 75px; }
      .info_body .color ul li:first-child {
        margin-left: 0; }
      .info_body .color ul li span {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        display: block;
        width: 200px;
        height: 200px;
        color: #fff;
        font-size: 35px;
        font-weight: 700;
        line-height: 200px; }
      .info_body .color ul li > p {
        width: 700px;
        margin-left: auto;
        margin-right: auto; }

#cm_ifhd {
  color: #fff;
  background: #eb651e; }
  #cm_ifhd .inhead2 li {
    margin-left: 50px; }

#ts_ifhd {
  color: #fff;
  background: #ca1a37; }
  #ts_ifhd .inhead2 li {
    margin-left: 100px; }

#ts_ifbd article {
  width: 1280px; }
#ts_ifbd .view {
  height: 900px; }
  #ts_ifbd .view li {
    margin-left: 50px; }
  #ts_ifbd .view li:first-child {
    margin-left: 0; }
#ts_ifbd .color ul li:nth-child(1) span {
  background: #ca1a37; }
#ts_ifbd .color ul li:nth-child(2) span {
  background: #d58d3f; }
#ts_ifbd .color ul li:nth-child(3) span {
  background: #777777; }

/*# sourceMappingURL=style.css.map */
